/* Fondo */
.main-sidebar {
    background-color: #2c5244; /* Cambia el color de fondo a verde oscuro */
}

/* Titulos */
.brand-text {
    font-size: 1.2rem; /* Tamaño del texto del título QuickTasksUIS */
    font-weight: bold; /* Negrita */
    font-style: italic; /* Cursiva */
    color: #ffffff; /* Color blanco (puedes ajustar según tu diseño) */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-left: 10px; /* Margen izquierdo para separación */
}

.user-panel .info .d-block {
    font-size: 1.1rem; /* Tamaño del texto del título Menu de Navegación */
    color: #ffffff; /* Color blanco (puedes ajustar según tu diseño) */
    font-weight: bold; /* Negrita */

}

/* SidebarSearch.css */
.form-inline .input-group {
    background-color: #f0f0f0; /* Fondo gris claro */
}

.form-inline .form-control-sidebar {
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #000; /* Texto negro */
}